
---
import Layout from '../layouts/Layout.astro';

import Navbar from '../components/Navbar.astro'
import Aboutus from '../components/UI/About/Aboutus.astro';
import Coverimage from '../components/UI/About/Coverimage.astro'
import Team from '../components/UI/About/Team.astro'
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import End from '../components/End.astro'
---


<Layout title="Services">
  <Header/>
  <Navbar/>
  <div class="bg-darkPink">
  <Coverimage/>
</div>
	<main >
<Aboutus/>
<Team/>

<Footer id="footer"/>
<End/>
  </main>
</Layout>
