---
import Layout from '../layouts/Layout.astro';
import SocialLogo from '../components/UI/SocialLogo.astro'
import Navbar from '../components/Navbar.astro'

---

<Layout title="">
	<main>


	</main>
</Layout>
