---
import Layout from '../layouts/Layout.astro';
import SocialLogo from '../components/UI/SocialLogo.astro'
import NavBarButtons from '../components/UI/NavBarButtons.astro';

---

<Layout title="">
	<main>
<SocialLogo/>
<NavBarButtons/>
	</main>
</Layout>
