---
import Layout from '../layouts/Layout.astro';
import SocialLogo from '../components/UI/SocialLogo.astro'
import Navbar from '../components/Navbar.astro'
import Header from '../components/Header.astro'

---

<Layout title="">
	<main>
    <Header/>

    <Navbar/>

	</main>
</Layout>
