---
import Layout from '../layouts/Layout.astro';

import Navbar from '../components/Navbar.astro'
import Header from '../components/Header.astro'

import Footer from '../components/Footer.astro'
import Portfolio from '../components/Portfolio.astro';
import End from '../components/End.astro';

---

<Layout title="">
	<main>
    <Header/>
    <Navbar/>
<Portfolio/>

<Footer id="footer"/>
<End/>
	</main>
</Layout>