---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'
import Header from '../components/Header.astro'
import Menu from '../components/UI/Menu.astro'
import ServiceList from '../components/ServiceList.astro'




---



<Layout title="Services">
  <Header/>
  <Navbar/>
	<main class="flex">
    <div class="sticky top-16 left-0 w-1/4 h-full bg-gray-200 p-4 overflow-y-auto " style={{ minWidth: '150px', maxWidth: '300px' }}>
    <!-- <div class="fixed top-0 left-0 w-1/4 h-full bg-gray-200 p-4 overflow-y-auto"> -->
    <Menu/>
    </div>
    <div class="flex-1 ml-1/4 p-2 overflow-y-auto">
      <ServiceList/>
    </div>
  </main>
</Layout>
