---
import Layout from '../layouts/Layout.astro';

import Navbar from '../components/Navbar.astro'
import Address from '../components/UI/Address.astro'
import NavBarButtons from '../components/UI/NavBarButtons.astro'
import Header from '../components/Header.astro'
import HeroBox from '../components/HeroBox.astro'

---

<Layout title="Test">
	<main>
<Header/>

    <Navbar/>
    <HeroBox/>
	</main>
</Layout>
