---
import Layout from '../layouts/Layout.astro';


import Navbar from '../components/Navbar.astro'

import Header from '../components/Header.astro'
import Menu from '../components/UI/Menu.astro';
import HeroBox from '../components/HeroBox.astro'
import NavBarButtons from '../components/UI/NavBarButtons.astro';
import Opening from '../components/UI/Opening.astro';
import Portfolio from '../components/Portfolio.astro';


---

<Layout title="Test">
	<main>
<Portfolio/>
	</main>
</Layout>
