---
import Layout from '../layouts/Layout.astro';
import SocialLogo from '../components/UI/SocialLogo.astro'
import NavBarButtons from '../components/UI/NavBarButtons.astro';
import Logo from '../components/UI/Logo.astro'
---

<Layout title="">
	<main>
<SocialLogo/>
<NavBarButtons/>
<Logo/>
	</main>
</Layout>
