---
import SocialLogo from "./UI/SocialLogo.astro"
import Address from "./UI/Address.astro"
---


<div class="bg-darkPink flex items-center">
  <div class="flex mx-auto text-center text-xs p-2 pl-28 text-lightGrey  ">
    Copyright © Fatima, Aimee, Adriana 2024
  </div>

 
  </div>
</div>