---
import GoogleMap from "./UI/GoogleMap.astro"
import Logo from "./UI/Logo.astro"
import Opening from "./UI/Opening.astro"
---
<div class="flex mx-auto w-[70%]">
  <div class="flex-1"><Opening/></div>
  <div class="flex-1">
    <div class="pt-10 pb-10">
    <GoogleMap/></div>
  </div>
  <div class="flex-1"><Logo/></div>
</div

