---
import BookingButton from '../components/UI/BookingButton.astro'
---
<div class="bg-gradientPink flex flex-col text-darkGrey sm:flex-row md:flex-row justify-between">
  <!-- For small and medium screens, reverse the order of flex columns -->
  <div class="order-2 sm:order-1 md:order-1 sm:pl-24">
    <p class="md:text-xl sm:text-2xl lg:text-6xl font-cantora pt-10 sm:pt-20">Hairdressing With a Purpose!</p>
    <p class="lg:w-te lg:pt-16 sm:pt-4 text-base lg:text-lg md:text-sm sm:text-sm">We Believe our Reputation is only as good as our last Hair service, Working together as a Team WE ensure our Clients always LOOK and FEEL Magnificent!
      Through this our Business will Continue to be a Leader in Hair Design!</p>
    <div class="pt-8">
      <BookingButton />
    </div>
  </div>
  <img src="./heroimage.png" class="order-1 sm:order-2 md:order-2 sm:pr-24 md:max-w-md lg:max-w-lg"/>
</div>
