---
import data from '../services.json'
---
<div class="bg-lightGrey pb-28">
  <p class="text-3xl font-cantora text-darkGrey flex justify-center mx-auto pt-16 pb-16">Services</p>
  <div class="grid grid-cols-2 gap-4 mx-auto justify-center items-center w-[70%] sm:grid-cols-2 sm:grid-rows-2 md:grid-cols-4 md:grid-rows-1">
    <a href="portfolio#HairCut">
      <div class="text-center">
        <img src="/cut.png"/>
        <p class="lg:text-lg text-sm sm:text-xs font-cantora text-darkGrey pt-8">HairCut</p>
      </div>
    </a>
    <a href="portfolio#HairColour">
      <div class="text-center"> 
        <img src="/color.png"/>
        <p class="lg:text-lg text-sm sm:text-xs font-cantora text-darkGrey pt-8">Coloring</p>
      </div>
    </a>
    <a href="portfolio#Hair Treatment">
      <div class="text-center"> 
        <img src="/treatment.png"/>
        <p class="lg:text-lg text-sm sm:text-xs font-cantora text-darkGrey pt-8">Treatment</p>
      </div>
    </a>
    <a href="portfolio#Perm">
      <div class="text-center">
        <img src="perm.png"/>
        <p class="lg:text-lg text-sm sm:text-xs font-cantora text-darkGrey pt-8">Perm</p>
      </div>
    </a>
  </div>
</div>
