---
import data from '../services.json'
---
<div class=" bg-lightGrey pb-28">
  <p class="text-3xl font-cantora text-darkGrey flex justify-center mx-auto pt-16 pb-16">Services</p>
<div class="grid grid-cols-4 grid-rows-1 gap-4 mx-auto justify-center items-center w-[70%]">
  <a  href="services#Style">
  <div class="text-center">
    <img src="/cut.png"/>
    <p class="text-lg font-cantora text-darkGrey pt-8">HairCut</p>
  </div></a>
  <a  href="services#Colour">
  <div class="text-center" > 
    <img src="/color.png"/>
    <p class="text-lg font-cantora text-darkGrey pt-8">Hair Coloring</p>
  </div></a>
  <a  href="services#Treatment">
  <div class="text-center"> 
    <img src="/treatment.png"/>
    <p class="text-lg font-cantora text-darkGrey pt-8">Hair Treatment</p>
  </div></a>
  <a  href="services#Perm">
  <div class="text-center">
     <img src="perm.png"/>
     <p class="text-lg font-cantora text-darkGrey pt-8">Perm</p>
    </div></a>

</div></div>