<div class="w-[70%] mx-auto text-md text-center pt-16 ">
  <div class=" grid grid-cols-3 grid-rows-1 gap-4 ">
    <div class="pt-20"><img src="/emma.jpg"/></div>
    <div class="col-span-2 pl-8">

   <p class="text-left"><strong>Emma Johnson</strong></p>
   <p class="text-left">Position: Lead Stylist</p>
   <hr class="border-1 border-black my-4 w-1/2 text-left">
   <p class="text-left">Emma Johnson is our esteemed Lead Stylist with over a decade of dedicated experience in the hairdressing industry. Her journey began with a passion for transforming hair into works of art, specializing in contemporary cuts that enhance natural beauty and advanced color techniques that add depth and dimension. Emma's career is marked by a commitment to excellence and a keen eye for emerging trends, ensuring that each client receives personalized service that surpasses expectations.</p>
   <p class="text-left">Emma's approach to hairstyling blends creativity with precision, making her a trusted advisor for clients seeking transformative looks. Her dedication to continuous professional growth keeps her at the forefront of the industry, attending workshops and training sessions to refine her skills and incorporate the latest techniques. Beyond her technical prowess, Emma is known for her warm demeanor and ability to connect with clients, creating a salon experience that is as enjoyable as it is rewarding. Whether it's a subtle refresh or a bold new style, Emma's clients leave the salon feeling confident and rejuvenated, embodying her belief that every hairstyle should reflect the individuality and beauty of its wearer.</p>


    </div>

  </div>
  <div class="pt-20 grid grid-cols-3 grid-rows-1 gap-4">

    
    <div class="pt-20 col-start-3 row-start-1">
      <img src="/akbar.jpg"/>
    </div>
    <div class="col-span-2 col-start-1 row-start-1 pr-8">

   <p class="text-left"><strong>Akbar Abdi</strong></p>
   <p class="text-left">Position: Master Colorist</p>
   <hr class="border-1 border-black my-4 w-1/2 text-left">
   <p class="text-left">Akbar is our esteemed Master Colorist, recognized for his exceptional expertise in transforming hair with precision and creativity. With a career dedicated to perfecting his craft, Akbar specializes in a wide range of color techniques, from natural highlights that enhance features to bold, creative shades that make a statement. His meticulous attention to detail and deep understanding of color theory ensure that every client receives a personalized color service tailored to their unique style and preferences.</p>
   <p class="text-left">Akbar's passion for continuous learning drives him to stay updated with the latest trends and techniques in hair coloring. He believes in the transformative power of color to not only enhance appearance but also boost confidence and self-expression. Clients appreciate Akbar not only for his technical proficiency but also for his warm, personable approach, making each salon visit a personalized and enjoyable experience. Whether it's a subtle refinement or a dramatic new look, Akbar's color transformations consistently deliver stunning results that leave a lasting impression.</p>


    </div>
    


    
</div>