<div class="w-[70%] mx-auto text-md text-center pt-16 pb-10 ">
  <div class=" grid grid-cols-3 grid-rows-1 gap-4 ">
    <div class="pt-20"><img src="/lina.jpg"/></div>
    <div class="col-span-2 pl-8">

   <p class="text-left"><strong>Lina Chen</strong></p>
   <p class="text-left">Position: Senior Stylist</p>
   <hr class="border-1 border-black my-4 w-1/2 text-left">
   <p class="text-left">Lina brings an unparalleled level of expertise and artistry to our team as a Senior Stylist. With a career rooted in a passion for hairstyling, Lina has earned acclaim for her ability to create stunning hairstyles that range from everyday chic to intricate updos for special occasions. Her journey in the industry is characterized by a relentless pursuit of perfection and a deep commitment to client satisfaction.</p>
   <p class="text-left">Lina's approach to hairstyling combines innovative techniques with a meticulous attention to detail, ensuring that each hairstyle she crafts is tailored to enhance her clients' unique features and personal style. Her dedication to staying abreast of the latest trends is reflected in her regular participation in workshops and educational seminars, where she hones her skills and explores new possibilities in hair design. Lina's clients appreciate her warm and engaging personality, making each salon visit a memorable experience filled with expert advice and personalized care. Whether it's a classic cut or a bold new look, Lina's creations leave a lasting impression, embodying her belief that every hairstyle should empower and inspire confidence in those who wear it.</p>


    </div>

  </div>
  <div class="pt-20 grid grid-cols-3 grid-rows-1 gap-4">

    
    <div class="pt-20 col-start-3 row-start-1">
      <img src="/ava.jpg"/>
    </div>
    <div class="col-span-2 col-start-1 row-start-1 pr-8">

   <p class="text-left"><strong>Ava Nikpoor</strong></p>
   <p class="text-left">Position: Creative Stylist</p>
   <hr class="border-1 border-black my-4 w-1/2 text-left">
   <p class="text-left">Ava is our talented Creative Stylist renowned for her ability to transform hair into unique and personalized works of art. With a creative vision and a passion for hairstyling, Ava excels in crafting modern cuts that are both stylish and sophisticated, as well as elegant styles that elevate any special occasion. Her journey in the industry is defined by a dedication to pushing boundaries and creating hairstyles that reflect her clients' personalities and preferences.</p>
   <p class="text-left">Ava's artistic approach to hairstyling is complemented by her friendly demeanor and genuine interest in her clients' satisfaction. She believes in the power of hairstyling to enhance self-confidence and express individuality, which is why she strives to deliver personalized experiences that exceed expectations. Ava's commitment to her craft is evident in her continuous pursuit of knowledge and innovation, attending workshops and seeking inspiration from global trends to stay ahead of the curve. Clients appreciate Ava not only for her technical expertise but also for her ability to listen attentively and translate their vision into stunning reality. Whether it's a subtle change or a dramatic transformation, Ava's creations leave a lasting impression, reflecting her belief that hairstyling is not just an art form but a way to empower and inspire beauty from within.</p>


    </div>
    


    
</div>