---
import Members1 from "../About/Members1.astro"
import Members2 from "../About/Members2.astro"
---

<div class="mx-auto text-lg text-center pt-16">
  <h1 class="text-3xl font-cantora text-darkGrey lg:text-6xl pt-2 pl-8">Meet The Team</h1>
</div>


<Members1/>
<Members2/>