<button onclick="window.location.href = 'https://my.epical.co.nz/bookings/index.jsp?orgid=127&store=170';" 
        type="button" 
        class="text-lightGrey bg-darkGrey hover:bg-brightPink focus:outline-none rounded-full text-sm px-10 py-2.5 text-center me-2 mb-2 transition-colors duration-500">
  Make&nbsp;a&nbsp;Booking
</button>
