

<button onclick="window.location.href = 'https://my.epical.co.nz/bookings/index.jsp?orgid=127&store=170';" class="w-full px-5 py-2 mt-6 text-sm tracking-wider text-lightGrey transition-colors duration-500 transform bg-darkGrey rounded-full lg:w-auto hover:bg-brightPink focus:outline-none focus:bg-brightPink">Make&nbsp;a&nbsp;Booking</button>