---
import data from '../../services.json'
import ToTopButton from '../../components/UI/ToTopButton.astro'
import BookingButton from '../../components/UI/BookingButton.astro'
---

<div class="bg-gradientDown text-darkGrey rounded-lg pb-12">
{Object.keys(data).map((category, index) => (
<ul class="pl-4 py-2 space-y-6">
<li><a class="text-black hover:text-brightPink" href={`#${category}`}>{category}</a></li>
</ul>
))}
<div class="flex flex-col items-center justify-center mt-8">
<ToTopButton/>
<BookingButton/>
</div>
</div>