---
import data from '../../services.json'
import ToTopButton from '../../components/UI/ToTopButton.astro'



---

<div class="bg-gradientDown text-darkGrey rounded-lg pb-12">
  <button
    id="hamburger-button"
    class="block lg:hidden p-4 text-darkGrey hover:text-brightPink"
    aria-label="Toggle menu"
  >
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>
  <div
    id="menu"
    class="lg:block hidden"
  >
    {Object.keys(data).map((category, index) => (
      <ul class="pl-4 py-2 space-y-6">
        <li>
          <a class="text-black hover:text-brightPink" href={`#${category}`}>{category}</a>
        </li>
      </ul>
    ))}
  </div>
</div>
<div class="flex flex-col items-center justify-center mt-8">
</div>  

<script>
document.addEventListener('DOMContentLoaded', () => {
  const hamburgerButton = document.getElementById('hamburger-button') as HTMLElement | null;
  const menu = document.getElementById('menu') as HTMLElement | null;

  if (hamburgerButton && menu) {
    hamburgerButton.addEventListener('click', () => {

      menu.classList.toggle('hidden');
    });
  } else {
    console.error('Element not found: hamburger-button or menu');
  }
});

</script>
