---

---

<ul class="hidden absolute top-1/2 left-55 transform -translate-y-1/2 -translate-x-1/8 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-12 lg:ml-auto ">
  <li><a class="text-sm text-black hover:text-brightPink" href="/">Home</a></li>
  <li><a class="text-sm text-black hover:text-brightPink" href="/portfolio">Portfolio</a></li>
  <li><a class="text-sm text-black hover:text-brightPink" href="/sevices">Services</a></li>
  <li><a class="text-sm text-black hover:text-brightPink" href="/aboutus">About Us</a></li>
  <li><a class="text-sm text-black hover:text-brightPink" href="/career">Career</a></li>
  <li><a class="text-sm text-black hover:text-brightPink" href="/contactus">Contact Us</a></li>
  <ul/>