---

---

<ul class="hidden lg:flex lg:justify-end lg:space-x-16 lg:pr-16 text-md">

  <li><a class=" text-black hover:text-brightPink transition-all duration-300 " href="/">Home</a></li>
  <li><a class=" text-black hover:text-brightPink transition-all duration-300 " href="/portfolioPage">Portfolio</a></li>
  <li><a class=" text-black hover:text-brightPink transition-all duration-300 " href="/services">Services</a></li>
  <li><a class=" text-black hover:text-brightPink transition-all duration-300 " href="/about">About&nbspUs</a></li>
  
  <li><a class=" text-black hover:text-brightPink  transition-all duration-300 " href="#footer">Contact&nbspUs</a></li>
  <ul/>