---

---

<div class="flex items-center font-serif text-xl">
  <div class="p-4 ">
    <a href="/">Home</a>
  </div>
  <div class="p-4">
    <a href="/porfolio">Portfolio</a>
  </div>
  <div class="p-4">
    <a href="/service">Service</a>
  </div>
  <div class="p-4">
    <a href="/aboutUs">About Us</a>
  </div>
  <div class="p-4">
    <a href="/career">Career</a>
  </div>
  <div class="p-4">
    <a href="/contactUs">Contact Us</a>
  </div>
  </div>