---

---

<ul class="hidden absolute top-1/2 right-24 transform -translate-y-1/2 lg:flex lg:items-center lg:space-x-12 lg:w-auto text-md">
  <li><a class=" text-black hover:text-brightPink" href="/">Home</a></li>
  <li><a class=" text-black hover:text-brightPink" href="/portfolio">Portfolio</a></li>
  <li><a class=" text-black hover:text-brightPink" href="/sevices">Services</a></li>
  <li><a class=" text-black hover:text-brightPink" href="/aboutus">About&nbspUs</a></li>
  <li><a class=" text-black hover:text-brightPink" href="/career">Career</a></li>
  <li><a class=" text-black hover:text-brightPink" href="/contactus">Contact&nbspUs</a></li>
  <ul/>