---

---

<ul class="hidden lg:flex lg:justify-end lg:space-x-16 lg:pr-16 text-md">

  <li><a class=" text-black hover:text-brightPink" href="/">Home</a></li>
  <li><a class=" text-black hover:text-brightPink" href="/portfolio">Portfolio</a></li>
  <li><a class=" text-black hover:text-brightPink" href="/services">Services</a></li>
  <li><a class=" text-black hover:text-brightPink" href="/about">About&nbspUs</a></li>
  
  <li><a class=" text-black hover:text-brightPink" href="#footer">Contact&nbspUs</a></li>
  <ul/>