---

---

<ul class="hidden absolute top-1/2 left-55 transform -translate-y-1/2 -translate-x-1/8 lg:flex lg:mx-auto lg:flex lg:items-centerl lg:w-auto lg:space-x-12 lg:ml-auto text-md">
  <li><a class=" text-black hover:text-brightPink" href="/">Home</a></li>
  <li><a class=" text-black hover:text-brightPink" href="/portfolio">Portfolio</a></li>
  <li><a class=" text-black hover:text-brightPink" href="/sevices">Services</a></li>
  <li><a class=" text-black hover:text-brightPink" href="/aboutus">About</a></li>
  <li><a class=" text-black hover:text-brightPink" href="/career">Career</a></li>
  <li><a class=" text-black hover:text-brightPink" href="/contactus">Contact</a></li>
  <ul/>