---

---
<div class="flex items-center font-serif text-xl">
  <div class="p-4 ">
    <a href="/">Home</a>
  </div>
  <div class="p-4">
    <a href="/Porfolio">Portfolio</a>
  </div>
  <div class="p-4">
    <a href="/Service">Service</a>
  </div>
  <div class="p-4">
    <a href="/AboutUs">About Us</a>
  </div>
  <div class="p-4">
    <a href="/Career">Career</a>
  </div>
  <div class="p-4">
    <a href="/ContactUs">Contact Us</a>
  </div>
  </div>