<div>
  <p class="font-cantora pb-8 ">Our Opening Hours

  </p>
  <p class="text-sm">Tuesday, Wednesday, Thursday 9.00am - 8.00pm<br/>
    Friday 9.00am - 5.00pm<br/>
    Saturday 9.00am - 3.00pm<br/>
    We are Closed Sunday and Monday</p>
</div>